<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.mychits">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".selectchit" />
        <activity android:name=".profile" />
        <activity
            android:name=".chitdetails"
            android:label="@string/title_activity_chitdetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".transaction" />
        <activity android:name=".createchit" />
        <activity android:name=".addmembers" />
        <activity
            android:name=".chitty1"
            android:label="@string/title_activity_chitty1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".accountdetails" />
        <activity android:name=".memberdetails" />
        <activity android:name=".paymentdetails" />
    </application>

</manifest>